<h1>Marker list</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @markers.each do |marker| %>
      <tr>
        <td><%= marker.number %></td>
        <td><%= marker.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "CSV", markers_path(format: "csv") %>
