<div id='map' style=" border: 1px solid;padding:3px;width:100%; height:700px;"></div>
<script>
    $(document).ready(function() {
      $.ajax({
        dataType: 'text',
        url: '/markers.json',
        success: function(data) {
          var geojson;
          geojson = $.parseJSON(data);
          return map.featureLayer.setGeoJSON(geojson);
        }
      });

      L.mapbox.accessToken = 'pk.eyJ1IjoiemFja3NocCIsImEiOiIzZ09nMDZZIn0.a_wcJpacq_Sojc5QO_4gww';
      var map = L.mapbox.map('map', 'zackshp.k0bb3ic6')
          .setView([39.606810, -116.929677], 7);

      map.featureLayer.on('layeradd', function(e) {
        var marker, popupContent, properties;
        marker = e.layer;
        properties = marker.feature.properties;
        popupContent = '<div class="popup">' + '<p>No. ' + properties.number + '</p>' + '<h3><a href="/markers/' + properties.id + '" target="marker">' + properties.name + '</a></h3>' + '</div>';
        return marker.bindPopup(popupContent, {
          closeButton: false,
          minWidth: 200
        });
      });
    });
</script>

  <style>
  /*
   * These CSS rules affect the tooltips within maps with the custom-popup
   * class. See the full CSS for all customizable options:
   * https://github.com/mapbox/mapbox.js/blob/001754177f3985c0e6b4a26e3c869b0c66162c99/theme/style.css#L321-L366
   */
  
  </style>