<div id='map' style=" border: 1px solid;padding:3px;width:100%; height:700px;"></div>
<script>
  L.mapbox.accessToken = 'pk.eyJ1IjoiemFja3NocCIsImEiOiIzZ09nMDZZIn0.a_wcJpacq_Sojc5QO_4gww';
  var map = L.mapbox.map('map', 'zackshp.k0bb3ic6')
      .setView([38.857, -119.465], 9);
</script>

<p>hi!</p>