<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
      <div class="page-header text-center">
        <h2 class=" marker-title">About</h2>
      </div>
        <p>
          When you travel around the state of Nevada you often happen upon 
          historical markers like 
          <a href="https://www.flickr.com/photos/quikbeam/192446147">this one</a>.
          They very often are a marker of history that left no other traces 
          behind. I've heard many Nevadans say they'd love to know more about 
          these, where they are, what they mean and how many are really around 
          and that is what this project is about. 
        </p>
        <p>
          Information is used from the 
          <a href="http://shpo.nv.gov/home/historical-markers">
            State Historic Preservation Office
          </a> and 
          <a href="http://www.oiccam.com/reno/historical_markers/nvmarkers/number.htm">
            this wonderful page of markers
          </a> compiled by 
          <a href="http://www.oiccam.com/reno/historical_markers/nvmarkers/">
            Jim Alexander
          </a>.
        </p>
        <p>
          For technical details see the 
          <a href="https://github.com/zacksheppard/nevada-historical-markers">
            Github Readme
          </a>.
        </p>
    </div>
  </div>
</div>