<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">NEVADA HISTORICAL MARKERS</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/markers">Marker List</a></li>
      <li><a href="#"></a></li>
    </ul>
  </div>
</div>
</div>